@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Vidly</h1>
        <p class="lead">Vidly is a mock Video Rental application, build for Vidly employees, using ASP.NET MVC.   I've designed this to be a showcase of my .NET programing talents.  I've utilized Entity Framework, Code-first Migration, Eager Loading, RESTful conventions with ASP.NET Web API, client-side validations, and client side page rendering using AJAX.</p>
        <p><a href="https://jenewbyiii.azurewebsites.net/" class="btn btn-primary btn-lg" target="_blank">Meet the Developer</a></p>
    </div>
        <div class="col-md-4">
            <h2>Languages/Frameworks</h2>
            <ul>
                <li>HTML/CSS</li>
                <li>ASP.NET MVC</li>
                <li>C#</li>
                <li>Razor Syntax</li>
                <li>SQL</li>
                <li>Javascript</li>
                <li>jQuery</li>
                <li>LINQ</li>
                <li>Boostrap</li>
                <li>ASP.NET API</li>
                <li>AJAX</li>
            </ul>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Plugins Used</h2>
            <ul>
                <li>Twitter Typeahead</li>
                <li>Elmah</li>
                <li>Bootbox</li>
                <li>DataTables</li>
                <li>Glimpse</li>
                <li>Auto-Mapper</li>
                <li>Web Essentials</li>
                <li>Toastr</li>
            </ul>
            </div>
        <div class="col-md-4">
            <h2>Technologies Used</h2>
            <ul>
                <li>Partial Views</li>
                <li>Social Logins</li>
                <li>Custom Validations</li>
                <li>Client-Side Validations</li>
                <li>Data Transfer Objects</li>
                <li>Authentication and Authorization</li>
                <li>Database Seeding / Updating</li>
                <li>Forms</li>
                <li>Custom Error Pages</li>
            </ul>
        </div>